<div class="line8"></div>
<div class="rectangle4"></div>
<div class="ellipse2"><img src="assets/ellipse-2-icon.svg" alt="" class="icon7" /></div>
<div class="ellipse3"><img src="assets/ellipse-3-icon.svg" alt="" class="icon8" /></div>
<div class="ellipse4"><img src="assets/ellipse-4-icon.svg" alt="" class="icon9" /></div>
<div class="postName">Post Name</div>
<div class="rectangle5"></div>
<div class="line1"></div>
<div class="line2"></div>
<div class="ellipse11"><img src="assets/ellipse-11-icon.svg" alt="" class="icon10" /></div>
<div class="i">i</div>
<div class="ellipse12"><img src="assets/ellipse-12-icon.svg" alt="" class="icon11" /></div>
<div class="line7"></div>
<div class="line9"></div>
<div class="_5Views">5 views</div>
<div class="frame72">
  <div class="frame17"><div class="react">React</div></div>
  <div class="frame22"><div class="comment">Comment</div></div>
  <div class="frame42"><div class="share">Share</div></div>
</div>

