<div class="rectangle13"></div>
<div class="rectangle14"></div>
<div class="frame11">
  <div class="frame9">
    <div class="group4"><img src="assets/group-4-icon.svg" alt="" class="icon" /></div>
    <div class="frame8">
      <div class="name">Name</div>
      <div class="whoIsThat">Who is that ?</div>
    </div>
  </div>
  <div class="frame10"><img src="assets/frame-10-icon.svg" alt="" class="icon2" /></div>
</div>

  <div class="frame94">
    <div class="group44"><img src="assets/group-4-icon4.svg" alt="" class="icon7" /></div>
    <div class="frame84">
      <div class="name4">Name</div>
      <div class="whoIsThat4">Who is that ?</div>
    </div>
  </div>
  <div class="frame104"><img src="assets/frame-10-icon4.svg" alt="" class="icon8" /></div>

