<div class="rectangle3"></div>
<div class="header">
  <div class="features">Features</div>
  <div class="pricing">Pricing</div>
  <div class="community">Community</div>
  <div class="support">Support</div>
  <c-button></c-button>
  <c-button2></c-button2>
  <div class="fekra11"></div>
  <div class="fekra12"></div>
</div>
<div class="frame5">
  <div class="frame1"><button class="posts" (click)="loadComponent('ProjetComponent')">Posts</button></div>
  <div class="frame2"><button class="projects" (click)="loadComponent('PostComponent')">Projects</button></div>
  <div class="frame3"><div class="friends">Friends</div></div>
  <div class="frame4"><div class="achievements">Achievements</div></div>
</div>
<div class="rectangle2"></div>
<div class="name">Name</div>
<div class="ellipse1"><img src="assets/ellipse-1-icon.svg" alt="" class="icon" /></div>
<div class="frame"><img src="assets/frame-icon.svg" alt="" class="icon2" /></div>
<div class="rectangle6"></div>
<div class="rectangle7"></div>
<div class="rectangle8"></div>
<div class="rectangle9"></div>
<div class="loremIpsumDolorSitAmetConsecte">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incin voluptate velit esse cillum
  dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officianim id est
  laborum.
</div>
<div class="loremIpsumDolorSitAmetConsecte2">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doet dolore magna aliqua. Uiatur. Excepteur sint occaecat
  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
<div class="loremIpsumDolorSitAmetConsecte3">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laesse cillum dolore eu
  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
  id est laborum.
</div>
<div class="loremIpsumDolorSitAmetConsecte4">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labonderit in velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
  deserunt mollit anim id est laborum.
</div>
<div class="frame6"><div class="summary">Summary</div></div>
<div class="frame13"><div class="experienced">Experienced</div></div>
<div class="frame14"><div class="education">Education</div></div>
<div class="frame15"><div class="certification">Certification</div></div>
<div class="line5"></div>
<div class="line6"></div>
<div class="frame12"><div class="downloadCV">Download CV</div></div>
<div class="frame16">
  <div class="layer_1"><img src="assets/layer1-icon.svg" alt="" class="icon3" /></div>
  <div class="frame7"><img src="assets/frame-icon2.svg" alt="" class="icon4" /></div>
  <div class="frame8"><img src="assets/frame-icon3.svg" alt="" class="icon5" /></div>
  <div class="frame9"><img src="assets/frame-icon4.svg" alt="" class="icon6" /></div>
</div>



<div #componentContainer></div>




<div class="footer">
  <div class="mobileApp">Mobile app</div>
  <div class="featuresLiveShareVideoRecord">
    <div class="textBlock">Features</div>
    <div class="textBlock2">Live share</div>
    <div class="textBlock3">Video record</div>
  </div>
  <div class="MindScapeInc2023WeLoveOurUsers">© Mind Scape, Inc. 2023. We love our users!</div>
  <div class="followUs">Follow us:</div>
  <div class="community2">Community</div>
  <div class="featuredArtistsThePortalLiveEv">
    <div class="textBlock4">Featured artists</div>
    <div class="textBlock5">The Portal</div>
    <div class="textBlock6">Live events</div>
  </div>
  <div class="company">Company</div>
  <div class="aboutUsContactUsHistory">
    <div class="textBlock7">About us</div>
    <div class="textBlock8">Contact us</div>
    <div class="textBlock9">History</div>
  </div>
  <c-button3></c-button3>
  <c-button4></c-button4>
  <div class="rectangle"></div>
  <div class="fekra13"></div>
  <div class="frame162">
    <div class="layer_12"><img src="assets/layer1-icon2.svg" alt="" class="icon12" /></div>
    <div class="frame10"><img src="assets/frame-icon5.svg" alt="" class="icon13" /></div>
    <div class="frame11"><img src="assets/frame-icon6.svg" alt="" class="icon14" /></div>
    <div class="frame18"><img src="assets/frame-icon7.svg" alt="" class="icon15" /></div>
  </div>
</div>
