<div class="rectangle13"></div>
<div class="frame17">
  <div class="achiv">
    <div class="rectangle14"></div>
    <div class="group5"><img src="assets/group-5-icon.svg" alt="" class="icon" /></div>
    <div class="name">Name</div>
  </div>
  <div class="achiv2">
    <div class="rectangle142"></div>
    <div class="group52"><img src="assets/group-5-icon2.svg" alt="" class="icon2" /></div>
    <div class="name2">Name</div>
  </div>
  <div class="achiv3">
    <div class="rectangle143"></div>
    <div class="group53"><img src="assets/group-5-icon3.svg" alt="" class="icon3" /></div>
    <div class="name3">Name</div>
  </div>
</div>
<div class="frame172">
  <div class="achiv4">
    <div class="rectangle144"></div>
    <div class="group54"><img src="assets/group-5-icon4.svg" alt="" class="icon4" /></div>
    <div class="name4">Name</div>
  </div>
  <div class="achiv5">
    <div class="rectangle145"></div>
    <div class="group55"><img src="assets/group-5-icon5.svg" alt="" class="icon5" /></div>
    <div class="name5">Name</div>
  </div>
  <div class="achiv6">
    <div class="rectangle146"></div>
    <div class="group56"><img src="assets/group-5-icon6.svg" alt="" class="icon6" /></div>
    <div class="name6">Name</div>
  </div>
</div>
<div class="frame173">
  <div class="achiv7">
    <div class="rectangle147"></div>
    <div class="group57"><img src="assets/group-5-icon7.svg" alt="" class="icon7" /></div>
    <div class="name7">Name</div>
  </div>
  <div class="achiv8">
    <div class="rectangle148"></div>
    <div class="group58"><img src="assets/group-5-icon8.svg" alt="" class="icon8" /></div>
    <div class="name8">Name</div>
  </div>
  <div class="achiv9">
    <div class="rectangle149"></div>
    <div class="group59"><img src="assets/group-5-icon9.svg" alt="" class="icon9" /></div>
    <div class="name9">Name</div>
  </div>
</div>
